// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themessection
#button
    width : 200px;
    border-radius: 2%;
    border : 1px white;
    height : 40px;
    
#button:hover
    width : 200px;
    border : 1px solid blue;
    