doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title utility
    
    link(rel='stylesheet', type='text/css', href='build/build.css')
    script(type="text/javascript" src="build/riandy.js")
    script(type="text/javascript" src="build/denis.js")
    
  body

    article

      section
        h2 Bootstrap Introduction
        h3#ww Powered by <a href="https://www.npmjs.com/package/bespoke">Bespoke</a>
        h3#ww Team List :
        p  1.Riandy Irvan Winargo
        p  2.Denis Suryanto
        p  3.Jilbert
        
      section
        h2 Lets get Started !!
        h3#ww fullscreen click button below 
        input#fullscreen(type="button",value="click to toggle fullscreen",onclick="toggleFullScreen()")
        
      section
        h2 Set Your Text Color !!!
        h3 Font-Color :
        form
            input#color1(type="color",name="color")
            input#submitColor(type="button",value="Apply",onclick="ubah_warna()")
        h1#ww test here
        
       section
        h2 Set Your workspaces !!!
        h3#ww Background-Color :
        form
            input#color1(type="color",name="color")
            input#submitColor(type="button",value="submit",onclick="changebg()")
        
       section
        h2 Interactive features
        input#enablemouse(type="button",value="Enable Mouse Scroll",onclick="scroll()")
       
       section
        h2 Touch Interaction
        h3#ww Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

       section
        h2#ww Responsive Slides
        h3#ww Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>
        
       section
        h2 Bullet List
        h3.bullet#ww Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul#ww
          li#ww Bullet 1
          li#ww Bullet 2
          li#ww Bullet 3

      section
        h2 Syntax Highlighting
        h3#ww Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-backdrop='emphatic',data-bespoke-hash='named-route')
        h2 Named Route
        h3#ww Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      
        h2 Emphatic Slide!
        h3#ww Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish
      
      section
        h2 

    script(src='build/build.js')
    script(src='build/denis.js')
    script(src='build/riandy.js')
    